.git
.github
.gitignore
.gitattributes

node_modules
.bun
.nuxt
.output
.nitro
.cache
.data
dist
coverage

.env
.env.*
!.env.example

Dockerfile*
docker-compose*.yml
run.sh

*.md
LICENSE*

.idea
.vscode
.fleet
.DS_Store
Thumbs.db

*.log
logs

*.pyc
__pycache__
